ULM/app/code/local/Esparkinfo/Imageuploader/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     name="{{var wsdl.name}}"
     targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="imageuploaderImageuploadEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:imageuploaderImageuploadEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="imageuploaderImageuploadEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="imageupload" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="imageuploaderImageuploadAddEntity">
                <xsd:sequence>
                    <xsd:element name="imageupload" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="imageuploaderImageuploadUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="imageupload" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="imageuploaderImageuploadInfoEntity">
                <xsd:sequence>
                    <xsd:element name="entity_id" type="xsd:string" />
                    <xsd:element name="imageupload" type="xsd:string" />
                    <xsd:element name="status" type="xsd:string" />
                    <xsd:element name="url_key" type="xsd:string" />
                    <xsd:element name="in_rss" type="xsd:string" />
                    <xsd:element name="meta_title" type="xsd:string" />
                    <xsd:element name="meta_keywords" type="xsd:string" />
                    <xsd:element name="meta_description" type="xsd:string" />
                    <xsd:element name="allow_comment" type="xsd:string" />

                    <xsd:element name="created_at" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        
            <xsd:element name="imageuploaderImageuploadListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:imageuploaderImageuploadEntityArray" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="imageuploadId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:imageuploaderImageuploadInfoEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:imageuploaderImageuploadAddEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="imageuploadId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="data" type="typens:imageuploaderImageuploadUpdateEntity" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="imageuploadId" type="xsd:string" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
                    <xsd:complexType name="imageuploaderImageuploadCommentListEntity">
                <xsd:sequence>
                    <xsd:element name="comment_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="imageupload_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="comment" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="imageuploaderImageuploadCommentListEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:imageuploaderImageuploadCommentListEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="imageuploaderImageuploadCommentListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadCommentListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="typens:imageuploaderImageuploadCommentListEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadCommentUpdateStatusRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="commentId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="imageuploaderImageuploadCommentUpdateStatusResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="imageuploaderImageuploadListRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadListRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadListResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadListResponseParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadInfoRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadInfoResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadAddRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadAddResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadAddResponseParam"/>
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadUpdateRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadUpdateResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadUpdateResponseParam"/>
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadRemoveRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadRemoveResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadRemoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadCommentListRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadCommentListRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadCommentListResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadCommentListResponseParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadCommentUpdateStatusRequest">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadCommentUpdateStatusRequestParam" />
    </wsdl:message>
    <wsdl:message name="imageuploaderImageuploadCommentUpdateStatusResponse">
        <wsdl:part name="parameters" element="typens:imageuploaderImageuploadCommentUpdateStatusResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="imageuploaderImageuploadList">
            <wsdl:documentation>Retrieve list of imageuploads</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadListRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadListResponse" />
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadInfo">
            <wsdl:documentation>Retrieve imageupload info</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadInfoRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadAdd">
            <wsdl:documentation>Add imageupload</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadAddRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadAddResponse" />
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadUpdate">
            <wsdl:documentation>Update imageupload</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadUpdateRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadRemove">
            <wsdl:documentation>Remove imageupload</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadRemoveRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadRemoveResponse" />
        </wsdl:operation>
            <wsdl:operation name="imageuploaderImageuploadCommentList">
            <wsdl:documentation>Retrieve list of imageupload comments</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadCommentListRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadCommentListResponse" />
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadCommentUpdateStatus">
            <wsdl:documentation>Change imageupload comment status</wsdl:documentation>
            <wsdl:input message="typens:imageuploaderImageuploadCommentUpdateStatusRequest" />
            <wsdl:output message="typens:imageuploaderImageuploadCommentUpdateStatusResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="imageuploaderImageuploadList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
            <wsdl:operation name="imageuploaderImageuploadCommentList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imageuploaderImageuploadCommentUpdateStatus">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
