frontend/ULM/app/code/local/Esparkinfo/Imageuploader/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="imageuploaderImageuploadListEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="1" />
                    <element name="imageupload" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="url_key" type="xsd:string" minOccurs="0" />
                    <element name="in_rss" type="xsd:string" minOccurs="0" />
                    <element name="meta_title" type="xsd:string" minOccurs="0" />
                    <element name="meta_keywords" type="xsd:string" minOccurs="0" />
                    <element name="meta_description" type="xsd:string" minOccurs="0" />
                    <element name="allow_comment" type="xsd:string" minOccurs="0" />

                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="imageuploaderImageuploadListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:imageuploaderImageuploadListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="imageuploaderImageuploadAddEntity">
                <all>
                    <element name="imageupload" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="url_key" type="xsd:string" minOccurs="0" />
                    <element name="in_rss" type="xsd:string" minOccurs="0" />
                    <element name="meta_title" type="xsd:string" minOccurs="0" />
                    <element name="meta_keywords" type="xsd:string" minOccurs="0" />
                    <element name="meta_description" type="xsd:string" minOccurs="0" />
                    <element name="allow_comment" type="xsd:string" minOccurs="0" />

                </all>
            </complexType>
            <complexType name="imageuploaderImageuploadUpdateEntity">
                <all>
                    <element name="imageupload" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="url_key" type="xsd:string" minOccurs="0" />
                    <element name="in_rss" type="xsd:string" minOccurs="0" />
                    <element name="meta_title" type="xsd:string" minOccurs="0" />
                    <element name="meta_keywords" type="xsd:string" minOccurs="0" />
                    <element name="meta_description" type="xsd:string" minOccurs="0" />
                    <element name="allow_comment" type="xsd:string" minOccurs="0" />

                </all>
            </complexType>
            <complexType name="imageuploaderImageuploadInfoEntity">
                <all>
                    <element name="entity_id" type="xsd:string" minOccurs="1" />
                    <element name="imageupload" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="url_key" type="xsd:string" minOccurs="0" />
                    <element name="in_rss" type="xsd:string" minOccurs="0" />
                    <element name="meta_title" type="xsd:string" minOccurs="0" />
                    <element name="meta_keywords" type="xsd:string" minOccurs="0" />
                    <element name="meta_description" type="xsd:string" minOccurs="0" />
                    <element name="allow_comment" type="xsd:string" minOccurs="0" />

                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
                    <complexType name="imageuploaderImageuploadCommentListEntity">
                <all>
                    <element name="comment_id" type="xsd:string" minOccurs="1" />
                    <element name="imageupload_id" type="xsd:string" minOccurs="1" />
                    <element name="title" type="xsd:string" minOccurs="1" />
                    <element name="comment" type="xsd:string" minOccurs="1" />
                    <element name="status" type="xsd:string" minOccurs="1" />
                    <element name="customer_id" type="xsd:string" minOccurs="1" />
                    <element name="name" type="xsd:string" minOccurs="1" />
                    <element name="email" type="xsd:string" minOccurs="1" />
                    <element name="created_at" type="xsd:string" minOccurs="1" />
                    <element name="updated_at" type="xsd:string" minOccurs="1" />
                </all>
            </complexType>
            <complexType name="imageuploaderImageuploadCommentListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:imageuploaderImageuploadCommentListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="imageuploaderImageuploadListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="imageuploaderImageuploadListResponse">
        <part name="result" type="typens:imageuploaderImageuploadListEntityArray" />
    </message>
    <message name="imageuploaderImageuploadInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="imageuploadId" type="xsd:string" />
    </message>
    <message name="imageuploaderImageuploadInfoResponse">
        <part name="result" type="typens:imageuploaderImageuploadInfoEntity" />
    </message>
    <message name="imageuploaderImageuploadAddRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="data" type="typens:imageuploaderImageuploadAddEntity" />
    </message>
    <message name="imageuploaderImageuploadAddResponse">
        <part name="result" type="xsd:int"/>
    </message>
    <message name="imageuploaderImageuploadUpdateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="imageuploadId" type="xsd:string" />
        <part name="data" type="typens:imageuploaderImageuploadUpdateEntity" />
    </message>
    <message name="imageuploaderImageuploadUpdateResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="imageuploaderImageuploadRemoveRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="imageuploadId" type="xsd:string" />
    </message>
    <message name="imageuploaderImageuploadRemoveResponse">
        <part name="result" type="xsd:boolean" />
    </message>
        <message name="imageuploaderImageuploadCommentListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="imageuploaderImageuploadCommentListResponse">
        <part name="result" type="typens:imageuploaderImageuploadCommentListEntityArray" />
    </message>
    <message name="imageuploaderImageuploadCommentUpdateStatusRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="commentId" type="xsd:string" />
        <part name="status" type="xsd:string" />
    </message>
    <message name="imageuploaderImageuploadCommentUpdateStatusResponse">
        <part name="result" type="xsd:int" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="imageuploaderImageuploadList">
            <documentation>Retrieve list of imageupload</documentation>
            <input message="typens:imageuploaderImageuploadListRequest" />
            <output message="typens:imageuploaderImageuploadListResponse" />
        </operation>
        <operation name="imageuploaderImageuploadInfo">
            <documentation>Retrieve imageupload info</documentation>
            <input message="typens:imageuploaderImageuploadInfoRequest" />
            <output message="typens:imageuploaderImageuploadInfoResponse" />
        </operation>
        <operation name="imageuploaderImageuploadAdd">
            <documentation>Add imageupload</documentation>
            <input message="typens:imageuploaderImageuploadAddRequest" />
            <output message="typens:imageuploaderImageuploadAddResponse" />
        </operation>
        <operation name="imageuploaderImageuploadUpdate">
            <documentation>Update imageupload</documentation>
            <input message="typens:imageuploaderImageuploadUpdateRequest" />
            <output message="typens:imageuploaderImageuploadUpdateResponse" />
        </operation>
        <operation name="imageuploaderImageuploadRemove">
            <documentation>Remove imageupload</documentation>
            <input message="typens:imageuploaderImageuploadRemoveRequest" />
            <output message="typens:imageuploaderImageuploadRemoveResponse" />
        </operation>
            <operation name="imageuploaderImageuploadCommentList">
            <documentation>Retrieve list of imageupload comments</documentation>
            <input message="typens:imageuploaderImageuploadCommentListRequest" />
            <output message="typens:imageuploaderImageuploadCommentListResponse" />
        </operation>
        <operation name="imageuploaderImageuploadCommentUpdateStatus">
            <documentation>Change imageupload comment status</documentation>
            <input message="typens:imageuploaderImageuploadCommentUpdateStatusRequest" />
            <output message="typens:imageuploaderImageuploadCommentUpdateStatusResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="imageuploaderImageuploadList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="imageuploaderImageuploadInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="imageuploaderImageuploadAdd">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="imageuploaderImageuploadUpdate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="imageuploaderImageuploadRemove">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
            <operation name="imageuploaderImageuploadCommentList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="imageuploaderImageuploadCommentUpdateStatus">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
